In [1]:
import numpy as np
import torch
import torch.nn as nn
from torch.utils.data import DataLoader 
import matplotlib.pyplot as plt
import pandas as pd
import polars as pl

In [2]:
option_chain = pd.read_csv("options_data.csv")
option_chain.head()

,date,act_symbol,expiration,strike,call_put,bid,ask,vol,delta,gamma,theta,vega,rho
0,2019-02-09,A,2019-02-15,65.0,Call,10.50,11.25,0.2705,1.0000,0.0000,-0.0046,0.0000,0.0124
1,2019-02-09,A,2019-02-15,65.0,Put,0.00,0.03,0.3133,-0.0002,0.0002,-0.0002,0.0001,0.0000
2,2019-02-09,A,2019-02-15,67.5,Call,8.15,8.50,0.2705,0.9991,0.0010,-0.0053,0.0003,0.0129
3,2019-02-09,A,2019-02-15,67.5,Put,0.00,0.03,0.3133,-0.0034,0.0031,-0.0024,0.0011,0.0000
4,2019-02-09,A,2019-02-15,70.0,Call,5.70,6.00,0.2705,0.9845,0.0137,-0.0127,0.0041,0.0132

In [3]:
option_chain['date'] = pd.to_datetime(option_chain['date'])
option_chain['expiration'] = pd.to_datetime(option_chain['expiration'])

In [4]:
dates_num = pd.to_numeric(option_chain['date'])
exp_num = pd.to_numeric(option_chain['expiration'])

In [5]:
dates_num /= max(dates_num)
exp_num /= max(exp_num)

In [6]:
len(option_chain)

76999910

In [11]:
option_chain['dates'] = dates_num
option_chain['expiration'] = exp_num

In [15]:
option_chain['date'] = dates_num
option_chain.drop(columns=['dates'], inplace=True)

In [16]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Lasso, LinearRegression